#content {

	text-align: center;
	font-family: 'Verdana';
 	font-style: oblique;

}

/* SP: Made the following change to get full screen color */

body{
	height: 100%;
	background: linear-gradient(to right, #bb9ae7,#b2ccf9,#f9b2e1);
	background-repeat: repeat-y;
}

