/* style.css */

html, body {

  height: 50%;



}

h1 {
	text-align: center;
}

body {
	padding-top: 5%;
	font-family: 'arial';
	color: #592C5F; 
	display: : flex;*/


}

#sketch-holder{
	padding-top: 5%;
	width: 100%;
	position:relative;
	left:37.5vw;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	background: #000;
}

canvas {
	margin: 0 auto;
	display: block;
}

#framerate {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1em;
	color: #fff;
  background: #000;
}

footer {

   width: 100%;
   padding-top: 5%;
   position: absolute;
   text-align: center;*/

}

