/* div class based on id */

#content {

	font-family: 'comic sans ms';
	padding: 9%;

}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

#sketch-holder {
	position: absolute;
	z-index: -5
	left: 5%;
	top: 5%;

}

p {

	color: #000 !important; 

}