body {

	font-family: 'arial';
/*	color: #592C5F; */
	padding: 5vw;
	background-color: #7cd4d7;
	justify-content: center;
	align-items: center;

}

h1, h5{
	color: #cc2208
}

a {
	color: #1e4355
}

p, h3 {

	color: #9d612f; 


}
