body {

	font-family: 'arial';
/*	color: #592C5F; */
	padding: 5vw;
	background-color: #577da4;
	justify-content: center;
	align-items: center;

}

h1, h5{
	color: #ffffff
}

a {
	color: #000000
}

p, h3 {

	color: #ffffff; 


}
