/* div class based on id */


#content {


}

h1{
	font-family:serif;
	text-align: center;
	color:white;
	padding:15%;

}

h2{
	font-family:serif;
	text-align: center;
	font-size: 100%;
	color:white;
	padding:15%;




}

