/* div class based on id */


#content {


}

h1{
	font-family:serif;
	text-align: center;
	font-style: bold;
	font-size: 200%;
	color:#FFCC00;
	

}

h2{
	font-family:serif;
	text-align: center;
	font-size: 100%;
	color:black;
	
.



}

