
body {

	font-family: 'arial';
	color: #592C5F; 
	padding: 5vw;
	background-color: #7cd4d7;
	justify-content: center;
	align-items: center;

}

h1{
	/*color:rgb(0,0,255);*/
}

p {
	/*color: 999 !important;*/
	color: #000 !important; 
	/*text*/
}