/* style.css */
#content{
	
	text-align: center;
	font-family: 'Verdana';
	
 	
}

html, body {

  height: 50%;
 



}

h1 {
	text-align: center;
}

body {
	background-color: white;
	text-align: center;
	font-family: 'Verdana';
 	

}
#sketch-holder{
	padding-top: 5%;
	width: 100%;
	position:center;
	left:37.5vw;
}


a:link, a:visited {
  background-color: #B195E0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  backgr
