body {

	font-family: 'arial';
/*	color: #592C5F; */
	padding: 5vw;
	background-color: #ffffff;
	justify-content: center;
	align-items: center;

}

h1, h5{
	color: #ffc20f
}

a {
	color: #000000
}

p, h3 {

	color: #4e6ff4; 


}
